*{
    margin: 0px;
    padding: 0px;
}


/* 배경 */
body {
    background-image: url("../source/img/숭례문_김학수.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}