*{
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}


/* 배경 */
body {
    background-image: url("../source/img/숭례문_김학수.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/* 타이틀 */
.title span {
    width: 100%;
    height: 200px;

    line-height: 200px;
    font-size: 130px;
    font-weight: 900;
    text-align: center;
    text-shadow: 5px 3px 8px rgb(66, 64, 64);

    background-color: rgba(255, 228, 196, 0.7);
    color: black;
    
    top: 80px;
    display: inline-block;
    position: absolute;    
    z-index: 99;
}
/* 타이틀 */



/* 메뉴 바들 */
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 200px;
    position: fixed;
    right: 0%;
    bottom: 7%;
  }
  
.menu-box{
    background: rgba(255, 228, 196, 0.9);
    border: #000;
    border-radius: 15px;
    height: auto;
    margin: 10px -10px 0px 0px;
}

li a {
    text-decoration: none;
    padding: 20px;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 3px 8px rgb(66, 64, 64);
}
  
li a:hover {
    background: #333;
    color: #fff;
    border-radius: 15px;
}
  
li a.home {
    background : #333;
    color: #fff;
}


/* 여기까지 */

.Container{
    position: relative;
    margin: 0 auto;
    display: flex;
}


/* 방 크기 혹은 글자들 */
.room-box{
    position: relative;
    width: 100%;
    display: flex;
    padding: 20% 14% 15% 14%;
    margin: 0% 0% 6% 0%;
}

.room span{
    color: black;
    position: absolute;
    
}

.room{
    width: 20%;
    position: absolute;

    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    
    border: solid 2px;
    border-radius: 20px;
    background-color: rgb(250, 235, 215, 0.7);
    box-shadow: 5px 5px 8px 1px rgb(66, 64, 64);

    z-index: 100;

    margin: 14% 0px 0px 0px;
    padding: 30px 0px 30px 0px;
}
/* 방 크기 혹은 글자들 */

/*방위치*/
.up{
    margin-top: 10px;
}

.down{
    margin-bottom: 10px;
}

.Ten-tho, .One-tho{
    left: 15%;
}

.Five-tho, .Five-hun{
    left: 40%;
}

.Three-tho, .One-hun{
    left: 65%;
}
/*방위치*/





/* 벚꽃 애니메이션 효과를 위한 스타일 */
@keyframes falling-petals {
    0% {
      top: -50px; /* 시작 위치 설정 */
      opacity: 0.95; /* 시작 시 투명도 설정 */
      transform: scale(0.5); /* 시작 시 크기 설정 */
    }
    100% {
      top: 90vh; /* 최종 위치 설정 */
      opacity: 0.5; /* 최종 투명도 설정 */
      transform: scale(1); /* 최종 크기 설정 */
    }
  }

  /* 벚꽃 이미지 스타일 */
  .petal {
    position: absolute;
    width: 30px; /* 이미지 너비 설정 */
    height: 30px; /* 이미지 높이 설정 */
    background-image: url('../source/img/벚잎.svg'); /* 벚꽃 이미지 파일 경로 설정 */
    background-size: cover;
    animation: falling-petals 4s linear infinite; /* 애니메이션 설정 */
  }