*{
    margin: 0px;
    padding: 0px;
}


/* 배경 */
body {
    background-image: url("../source/img/숭례문_김학수.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Container{
    position: relative;
    margin: 0 auto;
    display: flex;
    padding: 0px 0px 0px 0px;
}


/* 타이틀 */
.title span{
    width: 100%;
    height: 100px;
    line-height: 100px;

    color: black;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    text-shadow: 5px 3px 8px rgb(66, 64, 64);
    background-color: rgba(255, 228, 196, 0.7);


    top: 50px;
    display: block;    
    position: absolute;
    margin: 0 auto;
    z-index: 99;
}

/* 고객센터 */


/* contents box*/
.csc-box{
    width: 750px;
    height: 99%;
    display: block;
    position: relative;
    border-top-left-radius: 10px;

    margin: 14% auto;

    border: 1px solid black;
    color: black;
    background-color: rgba(255, 255, 255);

    font-size: 1rem;

    box-sizing: inherit;
    padding: 24px 0px 50% 4%;

    text-align: left;
    line-height: 2;

    z-index: 50;
}

/* 문의사항 */
.inquiry{
    margin: 0% auto;
    display: block;
    position: absolute;
    text-align: left;
    

}


/* 여기부터 버그 */
.bug{
    margin: 0% auto;
    display: none;
    position: absolute;
    text-align: left;

}

/* 부정게임 신고 */
.cheating{
    margin: 0% auto;
    display: none;
    position: absolute;
    text-align: left;

}




.cheating-box.active,
.bug-box.active,
.csc-box.active {
  visibility: hidden;
  z-index: -1;
}

/* 태그 정리 */
.tag{    
    text-align: center;
    display: flex;
    writing-mode: vertical-rl; /* 세로쓰기 설정 */

    position: absolute;
    right: -30px;
    top: -1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

.inquiry-tag{
    width: 30px;    
    height: 100px;

    background-color: rgba(255, 255, 255);
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: 0px 0px 0px 0px;
    z-index: 5;
}

.bug-tag{
    width: 30px;    
    height: 130px;

    background-color: rgba(245, 237, 228, 0.8);
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: -15px 0px 0px 0px;
    z-index: 4;
}

.cheating-tag{
    width: 30px;    
    height: 170px;

    background-color: rgba(245, 237, 228, 0.8);
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    margin: -15px 0px 0px 0px;

    z-index: 3;
}